/* Fonts and globals */
@font-face {
  font-family: "heading";
  src: url("../static/fonts/grotesk.ttf");
}
@font-face {
  font-family: "text";
  src: url("../static/fonts/Latinka Medium.otf");
}
* {
  text-decoration: none;
}

body {
  background-color: #f6d13a;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "heading";
}

h3 {
  font-family: "heading";
  text-align: center;
}

/* styling subtle wave image in bg */
#waveImg {
  position: fixed;
  opacity: 0.6;
  right: -30vw;
  bottom: -20vh;
  transform: rotate(300deg);
  z-index: -1;
}

/* Navbar Styling */
#navBar {
  position: absolute;
  right: 0;
  top: 0.5vh;
  width: 40vw;
  height: 6vh;
  text-align: center;
  font-size: 1.1em;
}
#navBar #navBorder {
  position: absolute;
  width: 85%;
  height: 0.2vh;
  border-bottom: 1.8px solid black;
}

ul {
  margin-right: 5vw;
}
ul li {
  color: black;
  letter-spacing: 2px;
  font-family: "text";
  font-weight: 600;
  list-style: none;
  display: inline;
  padding-right: 3vw;
}

/* Heading styling */
#mainHeadingDiv {
  margin-top: 20vh;
}
#mainHeadingDiv #mainHeading {
  width: 35vw;
  font-size: 4.5vw;
  font-family: "heading";
  margin-left: 8vw;
}
#mainHeadingDiv #subHeading {
  text-align: left;
  margin-left: 8vw;
}
#mainHeadingDiv #typedText:focus {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

/* Button on landing page styles */
.button-54 {
  height: 6vh;
  width: 13.5vw;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25vw 0.5vw;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  margin-left: 8vw;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.5em;
  }
}
/* Social media Div */
#socialsDiv {
  width: 25vw;
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 66vh;
  left: 8vw;
}
#socialsDiv img {
  height: auto;
  width: 4vw;
}

/* First block section below landing page*/
#sectionOneDiv {
  margin-top: 68vh;
  width: 100vw;
  height: 85vh;
  background-color: black;
  font-family: "text";
  /*Formatting titles for timeline div*/
  /*Circles on timeline bar*/
  /*Education timeline text */
  /* Employment timeline text */
  /*Timeline bar styling */
}
#sectionOneDiv #sectionOneTitle {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: space-around;
  color: white;
  left: 9vw;
  top: 129.5vh;
}
#sectionOneDiv #circle {
  height: 1.5vh;
  width: 1.5vh;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}
#sectionOneDiv #educationText {
  position: absolute;
  font-size: 1em;
  height: 48vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24vw;
  top: 146vh;
}
#sectionOneDiv #educationText #educationText1 {
  color: white;
}
#sectionOneDiv #educationText #educationText2 {
  color: white;
  padding-top: 5vh;
}
#sectionOneDiv #educationText #educationText3 {
  color: white;
  padding-top: 4vh;
}
#sectionOneDiv #educationText #educationText4 {
  color: white;
  padding-top: 3vh;
}
#sectionOneDiv #workText {
  position: absolute;
  font-size: 0.8em;
  height: 46vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 62vw;
  top: 142vh;
}
#sectionOneDiv #workText div {
  padding-top: 5vh;
}
#sectionOneDiv #workText #workText1 {
  color: white;
}
#sectionOneDiv #workText #workText2 {
  color: white;
}
#sectionOneDiv #workText #workText3 {
  color: white;
}
#sectionOneDiv #workText #workText4 {
  color: white;
}
#sectionOneDiv #workTimelineBar {
  position: absolute;
  margin-top: 43vh;
  margin-left: 50vw;
  height: 2vh;
  width: 20%;
  transform: rotate(90deg);
  border-bottom: 3px solid grey;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
#sectionOneDiv #educationTimelineBar {
  position: absolute;
  margin-top: 47vh;
  margin-left: 8.5vw;
  height: 1vh;
  width: 25%;
  transform: rotate(90deg);
  border-bottom: 3px solid grey;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

/* My projects section*/
#finalSectionDiv {
  height: 150vh;
  width: 100vw;
  background-color: #f6d13a;
  margin-top: -4.8vh;
}
#finalSectionDiv #myProjHeading {
  font-size: 1.5em;
  margin-top: 25vh;
  margin-left: 5vw;
}
#finalSectionDiv #projectDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 90%;
  height: 90%;
}
#finalSectionDiv #projectDiv #imgTitle {
  position: absolute;
  z-index: 1;
  width: 20vw;
  height: 20vw;
  background-color: #f6d13a;
}
#finalSectionDiv #projectDiv #projImgDiv {
  float: right;
  width: 75%;
  height: 100%;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption p {
  margin-left: 0.5vw;
  margin-top: 0.3vh;
  font-family: "text";
  font-size: 16px;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption, #finalSectionDiv #projectDiv #projImgDiv #imgCaption2, #finalSectionDiv #projectDiv #projImgDiv #imgCaption3, #finalSectionDiv #projectDiv #projImgDiv #imgCaption4, #finalSectionDiv #projectDiv #projImgDiv #imgCaption5, #finalSectionDiv #projectDiv #projImgDiv #imgCaption6 {
  display: none;
  position: absolute;
  background: linear-gradient(to bottom, #323639 0%, #282C2F 100%);
  width: 100%;
  height: 10vh;
  bottom: -31vh;
  -webkit-animation: rise 0.2s linear;
          animation: rise 0.2s linear;
  color: white;
  overflow: hidden;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption2, #finalSectionDiv #projectDiv #projImgDiv #imgCaption3, #finalSectionDiv #projectDiv #projImgDiv #imgCaption4, #finalSectionDiv #projectDiv #projImgDiv #imgCaption5, #finalSectionDiv #projectDiv #projImgDiv #imgCaption6 {
  position: absolute;
  bottom: 47.6vh;
  width: 27.2vw;
  height: 10vh;
  overflow: hidden;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption2 p, #finalSectionDiv #projectDiv #projImgDiv #imgCaption3 p, #finalSectionDiv #projectDiv #projImgDiv #imgCaption4 p, #finalSectionDiv #projectDiv #projImgDiv #imgCaption5 p, #finalSectionDiv #projectDiv #projImgDiv #imgCaption6 p {
  margin-left: 0.5vw;
  width: 80%;
  margin-top: -0.3vh;
  font-size: 0.8em;
  font-family: "text";
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption2 {
  margin-left: 35.4vw;
  margin-bottom: 60.5vh;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption3 {
  margin-left: 35.4vw;
  margin-bottom: 30vh;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption4 {
  margin-left: -22.5vw;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption5 {
  margin-left: 35.3vw;
}
#finalSectionDiv #projectDiv #projImgDiv #imgCaption6 {
  margin-left: 5.6vw;
}
@-webkit-keyframes rise {
  0% {
    height: 0;
  }
  100% {
    height: 10vh;
  }
}
@keyframes rise {
  0% {
    height: 0;
  }
  100% {
    height: 10vh;
  }
}
#finalSectionDiv #projectDiv #projImgDiv #img1 {
  position: absolute;
  left: 0;
  width: 55.2vw;
  height: 20%;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg2,
#finalSectionDiv #projectDiv #projImgDiv #projImg3,
#finalSectionDiv #projectDiv #projImgDiv #projImg4,
#finalSectionDiv #projectDiv #projImgDiv #projImg5,
#finalSectionDiv #projectDiv #projImgDiv #projImg6 {
  width: 27vw;
  height: 27vh;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg1 {
  position: absolute;
  width: 55vw;
  height: 57vh;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg2 {
  position: absolute;
  right: 0;
  margin-right: 5vw;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg3 {
  position: absolute;
  right: 0;
  margin-right: 5vw;
  margin-top: 30vh;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg4 {
  position: absolute;
  left: 0;
  top: 60vh;
  margin-right: 5vw;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg5 {
  position: absolute;
  right: 0;
  margin-right: 5vw;
  margin-top: 60vh;
}
#finalSectionDiv #projectDiv #projImgDiv #projImg6 {
  position: absolute;
  top: 60vh;
  left: 28vw;
  margin-right: 5vw;
}
#finalSectionDiv #projectDiv #projImgDiv img {
  opacity: 0.9;
  -o-object-fit: fill;
     object-fit: fill;
  border: 2px solid black;
  box-shadow: 2px 2px 1px #222;
}

#contactTitleDiv {
  margin-left: 10vw;
}

#contactTitle {
  font-size: 4.5em;
  position: absolute;
  margin-top: 20vh;
  float: left;
}

#formDiv {
  position: absolute;
  right: 36vw;
  top: 10vh;
}

::-webkit-input-placeholder {
  color: grey;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: grey;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: grey;
}

:-ms-input-placeholder {
  color: grey;
}

form label {
  font-family: "text";
  display: block;
  margin-top: 5vh;
}

form {
  margin: 50px;
  padding: 5px;
  display: inline-block;
}

form input,
textarea {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  outline: none;
  resize: none;
  width: 20vw;
}

textarea {
  height: 20vh;
  margin-top: 2vh;
  border: 1px solid black;
}

form button {
  background: transparent;
  margin-top: 5vh;
  margin-left: 7.8vw;
  border: 0;
  color: black;
}

#contactPattern {
  z-index: -1;
  position: absolute;
  right: 5vw;
  bottom: 20vh;
  transform: rotate(227deg);
  height: 50vh;
  width: 40vw;
  background-image: url("../static/images/lines.svg");
}

#myNumber {
  position: absolute;
  right: 10vw;
  top: 15vh;
  text-align: center;
}/*# sourceMappingURL=style.css.map */